# For Flask apps
Flask
Flask-SQLAlchemy
Flask-Marshmallow
Marshmallow-SQLAlchemy
jwt
flask-wtf
# For Dash apps
dash
dash-bootstrap-components
pandas
requests
# For testing
pytest
pytest-cov
selenium
# pytest-flask
# Dash testing may need to be esacaped: dash\[testing]
dash[testing]