# For Flask apps
Flask
Flask-SQLAlchemy
Flask-Marshmallow
Marshmallow-SQLAlchemy
jwt
flask-wtf
wtforms-sqlalchemy
# To get a prediction in the Iris app
scikit-learn
# For Dash apps
dash
dash-bootstrap-components
pandas
requests
# For testing
pytest
pytest-cov
selenium
# pytest-flask
dash[testing]